{% extends "base.html" %}
{% load static %}

{% block content %}

  {% include "header.html" %}
  <div class="main-items">
  <table class="tabla" cellpadding="8">
    <tr>
      <td>{{ task.name }}</td>
      <td>
          {% if task.completed %}
            Completada
          {% else %}
           Pendiente
          {% endif %}
      </td>
      <td>{{ task.description }}</td>
    </tr>  
  </table>
  </div>
  <br><br>
  <div class="links">
    <a href="{% url 'tasks:task-list' %}">Volver</a>
  </div>
{% endblock %} 