{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'static/css/base.css' %}">
{% block content %}

  {% include "header.html" with subtitle="Todas las tareas" %}
  <div class="links">
      <a href="{% url 'tasks:task-list' %}"><button>Ver todas</button></a> 
      <a href="{% url 'tasks:task-list-completed' %}"><button>Completadas</button></a> 
      <a href="{% url 'tasks:task-list-pending' %}"><button>Pendientes</button></a> 
      <a href="{% url 'tasks:add-task' %}"><button>Añadir una nueva tarea</button></a>
  </div>
  <br>
  <div class="main-items">
    <table class="tabla" cellpadding="8">
        {% for task in tasks %}
          <tr>
            <td><a href="{% url 'tasks:task-detail' task.slug %}">{{ task.name }}</a></td>
            <td>
              {% if task.completed %}
                <a href="{% url 'tasks:toogle-task' task.slug %}"><button>✅</button></a>
              {% else %}
                <a href="{% url 'tasks:toogle-task' task.slug %}"><button>❌</button></a>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'tasks:task-detail' task.slug %}"><button>Detalles</button></a>
            </td>
            <td>
              <a href="{% url 'tasks:toogle-task' task.slug %}"><button>🔄</button></a>
            </td>
            <td>
              <a href="{% url 'tasks:edit-task' task.slug %}"><button>Editar</button></a>
            </td>
            <td>
              <a href="{% url 'tasks:delete-task' task.slug %}"><button>Borrar</button></a>
            </td>
          </tr>
        {% empty %}
        <p>Nada que hacer. ¡Enhorabuena!</p>
        {% endfor %}
    </table>
  </div>
{% endblock %}
