{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'static/css/base.css' %}">
{% block content %}

  {% include "header.html" with subtitle="Tareas pendientes" %}
  <div class="main-items">
    <table class="tabla" cellpadding="8">
        {% for task in tasks %}
          <tr>
            <td>{{ task.name }}</td>
            <td>
              ❌
            </td>
            <td>
              <a href="{% url 'tasks:toogle-task' task.slug %}">Cambiar Estado</a>
            </td>
            <td>
              <a href="{% url 'tasks:edit-task' task.slug %}">Editar</a>
            </td>
            <td>
              <a href="{% url 'tasks:delete-task' task.slug %}">Borrar</a>
            </td>
          </tr>
        {% empty %}
        <p>Nada que hacer. ¡Enhorabuena!</p>
        {% endfor %}
    </table>
    </div>
    <br><br>
  <div class="links">
    <a href="{% url 'tasks:task-list' %}">Ver todas</a> |
    <a href="{% url 'tasks:task-list-completed' %}">Completadas</a> |
    <a href="{% url 'tasks:task-list-pending' %}">Pendientes</a> |
    <a href="{% url 'tasks:add-task' %}">Añadir nueva tarea</a>
  </div>

{% endblock %}
